{% extends 'base.html' %}

{% load static%}
{% block content %}


<section class="user-dashboard page-wrapper">
  <div class="container">
    {% include 'includes/dashboard_topbar.html' %}
    
      <div class="col-md-10 ">
        
        <div class="dashboard-wrapper dashboard-user-dashboard">
          <div class="media">
              
            </div>
            <div class="media-body">
							<h2 class="media-heading">View adresses</h2> <br><br><br>
						</div>
                      
            <p><a data-toggle="collapse" href="#footwear1" aria-expanded="false" aria-controls="footwear1">Heading</a>
            </p>
            <div class="collapse" id="footwear1">
            
                      

                      

                        
              
            
              
                      
            </div>
          </div>

        </section>
    

{% endblock %}