{% extends 'base.html' %}

{% load static%}
{% block content %}


<section class="user-dashboard page-wrapper">
  <div class="container">
    {% include 'includes/dashboard_topbar.html' %}
    <div class="row">
      <div class="col-md-12">
        
        <div class="dashboard-wrapper dashboard-user-dashboard">
          <div class="media">
              
            </div>
            <div class="media-body">
							<h2 class="media-heading">Change Password</h2> <br><br><br>
						</div>
                      

                      

                      <div class="card-body">
                          {% include 'includes/alerts.html' %}
                        <div class="row">
                          <div class="col-sm-12">
                              <form action="{% url 'change_password' %}" method="POST">
                                {% csrf_token %}
                                
                                
                               

                                <div class= "form-group ">
                                  <label>current password</label>
                                  <input type="password" name="current_password" class="form-control" required>
                                </div>
                                <div class= "form-group ">
                                  <label >New Password</label>
                                  <input type="password" name="new_password" class="form-control" required>
                                </div>
                                <div class= "form-group ">
                                  <label >Confirm New Password</label>
                                  <input type="password" name="confirm_new_password" class="form-control" required>
                                </div>

                                
                                <input type="submit" value="submit" class="btn btn-primary">
                               </form>
                            
                              
                            </div>
                          </div>
                        </div>

                        
              
            
              
                      </div>
            </div>
          </div>

        </section>
  
{% endblock %}