{% extends 'base.html' %}

{% load static%}
{% block content %}


<section class="user-dashboard page-wrapper">
  <div class="container">
    {% include 'includes/dashboard_topbar.html' %}
    <div class="row">
      <div class="col-md-12">
        
        <div class="dashboard-wrapper dashboard-user-dashboard">
          <div class="media">
              
            </div>
            <div class="media-body">
							<h2 class="media-heading">Change Password</h2> <br><br><br>
						</div>
                      

                      

                      <div class="card-body">
                          {% include 'includes/alerts.html' %}
                        <div class="row">
                          <div class="col-sm-12">
                              <form action="{% url 'change_password' %}" method="POST">
                                {% csrf_token %}
                                
                                
                               

                                <div class= "form-group ">
                                  <label>current password</label>
                                  <input type="password" name="current_password" class="form-control" required>
                                </div>
                                <div class= "form-group ">
                                  <label >New Password</label>
                                  <input type="password" name="new_password" class="form-control" required>
                                </div>
                                <div class= "form-group ">
                                  <label >Confirm New Password</label>
                                  <input type="password" name="confirm_new_password" class="form-control" required>
                                </div>

                                
                                <input type="submit" value="submit" class="btn btn-primary">
                               </form>
                            
                              
                            </div>
                          </div>
                        </div>

                        
              
            
              
                      </div>
            </div>
          </div>

        </section>
    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <!-- slick Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/slick/slick-animation.min.js"></script>

    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="plugins/google-map/gmap.js"></script>

    <!-- Main Js File -->
    <script src="js/script.js"></script>
    


  </body>
  </html>

{% endblock %}