{% extends 'base.html' %}

{% load static%}
{% block content %}

<section class="user-dashboard page-wrapper">
  <div class="container">
    {% include 'includes/dashboard_topbar.html' %}
    <div class="row">
      <div class="col-md-12">
        
        <div class="dashboard-wrapper dashboard-user-dashboard">
          <div class="media">
              
            </div>
            <div class="media-body">
							<h2 class="media-heading">logged in as: {{user.first_name}} {{user.last_name}}</h2> <br><br><br>
						</div>
                      {% comment %} 1 {% endcomment %}

                      <div class="col-sm-6">
                        <div class="card text-center">
                          <div class="card-body">
                            <img src="https://www.w3schools.com/howto/img_avatar.png " alt="Avatar" class="avatar" width="80px" height="80px" style="border-radius:50%;">
                            <p class="mb-0"> {{ user.email }} </p>
                            <p> {{ user.phone_number }} </p>
                            <br>
                            <br>
                            <br>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="card text-center">
                            <div class="card-body">
                              <h3 class="card-title">Total orders</h3>
                              <h1 class="card-title">{{ orders_count }}</h1>

                              
                              <a href="#" class="btn btn-primary"> view orders</a>
                              <br>
                            <br>
                            <br>  
                            </div>
                          </div>
                        </div>

                        
              
            
              
                      </div>
            </div>
          </div>

        </section>
  
{% endblock %}