{% extends 'base.html' %}

{% load static%}
{% block content %}

<section class="user-dashboard page-wrapper">
  <div class="container">
    {% include 'includes/dashboard_topbar.html' %}
    <div class="row">
      <div class="col-md-12">
        
        <div class="dashboard-wrapper dashboard-user-dashboard">
          <div class="media">
              
            </div>
            <div class="media-body">
							<h2 class="media-heading">logged in as: {{user.first_name}} {{user.last_name}}</h2> <br><br><br>
						</div>
                      {% comment %} 1 {% endcomment %}

                      <div class="col-sm-6">
                        <div class="card text-center">
                          <div class="card-body">
                            <img src="https://www.w3schools.com/howto/img_avatar.png " alt="Avatar" class="avatar" width="80px" height="80px" style="border-radius:50%;">
                            <p class="mb-0"> {{ user.email }} </p>
                            <p> {{ user.phone_number }} </p>
                            <br>
                            <br>
                            <br>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <div class="card text-center">
                            <div class="card-body">
                              <h3 class="card-title">Total orders</h3>
                              <h1 class="card-title">{{ orders_count }}</h1>

                              
                              <a href="#" class="btn btn-primary"> view orders</a>
                              <br>
                            <br>
                            <br>  
                            </div>
                          </div>
                        </div>

                        
              
            
              
                      </div>
            </div>
          </div>

        </section>
    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <!-- slick Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/slick/slick-animation.min.js"></script>

    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="plugins/google-map/gmap.js"></script>

    <!-- Main Js File -->
    <script src="js/script.js"></script>
    


  </body>
  </html>

{% endblock %}