{% extends 'base.html' %}

{% load static%}
{% block content %}


<section class="user-dashboard page-wrapper">
  <div class="container">
    {% include 'includes/dashboard_topbar.html' %}
    
      <div class="col-md-10 ">
        
        <div class="dashboard-wrapper dashboard-user-dashboard">
          <div class="media">
              
            </div>
            <div class="media-body">
							<h2 class="media-heading">Edit Your Profile</h2> <br><br><br>
						</div>
                      {% comment %} 1 {% endcomment %}

                      

                      <div class="card-body">
                        <div class="text-right"> 
                          <img src="{{userprofile.profile_picture.url }}" alt="profile picture" width="100" style="border-radius:50px">
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                              <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                <div class= "form-row">
                                  <div class= "form-group col-md-6">
                                    <label>first name</label>
                                    {{ user_form.first_name }}
                                  </div>
                                  <div class= "form-group col-md-6">
                                    <label>last name</label>
                                    {{ user_form.last_name }}

                                  </div>
                                </div>

                                <div class= "form-row">
                                  <div class= "form-group col-md-6">
                                    <label>Phone Number</label>
                                    {{ user_form.phone_number }}

                                  </div>
                                  <div class= "form-group col-md-6">
                                    <label>Profile Picture</label>
                                    {{ profile_form.profile_picture }}<br>
                                  </div>
                                </div>

                                </div>
                                <input type="submit" value="save" class="btn btn-primary">
                               </form>
                            
                              
                           
                          </div>
                        </div>

                        
              
            
              
                      </div>
            </div>
          </div>

        </section>
    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <!-- slick Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/slick/slick-animation.min.js"></script>

    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="plugins/google-map/gmap.js"></script>

    <!-- Main Js File -->
    <script src="js/script.js"></script>
    


  </body>
  </html>

{% endblock %}