{% extends 'base.html' %}

{% load static%}
{% block content %}


<section class="user-dashboard page-wrapper">
  <div class="container">
    {% include 'includes/dashboard_topbar.html' %}
    
      <div class="col-md-10 col-md-offset-1 ">
        
        <div class="dashboard-wrapper dashboard-user-dashboard">
          <div class="media">
              
            </div>
            <div class="media-body">
							<h2 class="media-heading">Edit Your Profile</h2> <br><br><br>
						</div>
                      {% comment %} 1 {% endcomment %}

                      

                      <div class="card-body">
                        
                        <div class="row">
                          <div class="col-sm-12">
                              <form action="{% url 'edit_adress' %}" method="POST">
                                {% csrf_token %}
                                <div class= "form-row">
                                  <div class= "form-group col-md-6">
                                    <label>Adress Line 1</label>
                                    {{ adress_form.adress_line_1 }}
                                  </div>
                                </div>

                                <div class= "form-row">
                                  <div class= "form-group col-md-6">
                                    <label>Adress Line 2</label>
                                    {{ adress_form.adress_line_2 }}

                                  </div>
                                </div>

                                <div class= "form-row">
                                  <div class= "form-group col-md-6">
                                    <label>Phone Number</label>
                                    {{ adress_form.city }}

                                  </div>
                                  <div class= "form-group col-md-6">
                                    <label>Profile Picture</label>
                                    {{ adress_form.city }}<br>
                                  </div>
                                </div>

                                </div>
                                <input type="submit" value="save" class="btn btn-primary">
                               </form>
                            
                              
                           
                          </div>
                        </div>

                        
              
            
              
                      </div>
            </div>
          </div>

        </section>
   

{% endblock %}