{% extends 'base.html' %}

{% load static%}
{% block content %}


<section class="user-dashboard page-wrapper">
  <div class="container">
    {% include 'includes/dashboard_topbar.html' %}
    <div class="row">
      <div class="col-md-12">
        
        <div class="dashboard-wrapper dashboard-user-dashboard">
          <div class="media">
              
            </div>
            <div class="media-body">
							<h2 class="media-heading">Your Order History: </h2> <br><br><br>
						</div>
                      {% comment %} 1 {% endcomment %}

                      

                      <div class="card-body">
                        {% include 'includes/alerts.html' %}
                        <div class="row">
                          <div class="col-sm-12">
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Order nummber</th>
                                    <th scope="col">Billing name</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Order total</th>
                                    <th scope="col">Order Status</th>
                                    <th scope="col"> date</th>
                                    <th scope="col">Cancel</th>
                                  </tr>
                                </thead>
                                <tbody>
                                 {% for order in orders %}
                                 <tr>
                                   <th scope="row"><a href="{% url 'order_detail' order.order_number %}">{{order.order_number}}</a>
                                   </th>
                                   <td>{{order.user.first_name}}</td>
                                   <td>{{order.order_adress.phone}}</td>
                                   <td>₹ {{order.order_total}}</td>
                                   <td><b>{{ order.status }}</b></td>
                                   <td>{{order.created_at}}</td>
                                   {% if order.status == 'Cancelled' %}
                                    <td style="color: orange;"> <b>Cancelled</b></td>
                                    {% elif order.status == 'Delivered' %}
                                    <td style="color: green;"><b>Delivered</b> </td>
                                    {% else %}
                                   <td><a href="{% url 'cancel_order' order.order_number %}"><button
                                         class="btn btn-danger">Cancel</button></a></td>
    
                                    {% endif %}
             
                                 </tr>
                                 {% endfor %}
                                </tbody>
                              </table>    
                            
                              
                            </div>
                          </div>
                        </div>

                        
              
            
              
                      </div>
            </div>
          </div>

        </section>
   
{% endblock %}