{% extends 'base.html' %}

{% load static%}
{% block content %}

<section class="forget-password-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
            <a class="logo" href="index.html">
              <img src="images/logo.png" alt="">
            </a>
            <h2 class="text-center">reset password</h2>
            {% include 'includes/alerts.html' %}


            <form class="text-left clearfix" action="{% url 'resetpassword' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="enter new password" name="password">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="enter it again" name="confirm_password">
                  </div>
                <button type="submit" class="btn btn-main text-center">Reset</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
   

{% endblock %}