{% extends 'base.html' %}

{% load static%}
{% block content %}
<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          
          <h2 class="text-center">Create Your Account</h2>
          {% include 'includes/alerts.html' %}
          <form action="{% url 'register' %}"  method="POST" >
            {% csrf_token %}


            <div class="form-group">
              <label> First Name</label>
               {{ form.first_name }}
            </div>
            <div class="form-group">
              <label> Last Name</label>
              {{ form.last_name }}
            </div>
            <div class="form-group">
              <label> Email</label>
              {{ form.email }}
            </div>
            <div class="form-group">
              <label> Phone number</label>
              {{ form.phone_number }}
            </div>
            <div class="form-group">
              <label>Create Password</label>
              {{ form.password }}
            </div>
            <div class="form-group">
              <label> Repeat Password</label>
                {{ form.confirm_password }}
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-main text-center">Register Here</button>
            </div>
            {{ form.email.errors }}
            {{ form.non_field_errors }}
          </form>
          <p class="mt-20">Already have an account ?<a href="{% url 'signin'%}"> Login</a></p>
         
        </div>
      </div>
    </div>
  </div>
</section>

   
  {% endblock %}