
{% extends "manager/managerbase.html" %}
{% block content %}
<div class="row" style="margin-left: 8%;">
  <a href="{{request.META.HTTP_REFERER |escape}}" class="btn btn-primary"><i class="bi bi-arrow-left-circle-fill"> go back</i></a>
</div>
<section class="section-content padding-y bg">
  <div class="container card mb-5" style= background-color:#F3F2EE;>
    {% include 'includes/alerts.html' %}
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <h2 class="text-center font-weight-bold text-dark my-5">offer</h2>
        <form action="{% url 'add_sub_offer' %}" method="POST">
          {% csrf_token %}
          <div class="form-row">
            <div class="form-group col-md-6  ">
              <label for="category_name">subcategory</label>
              {{form.subcategory}}            
            </div>
            <div class="form-row">
                <div class="form-group col-md-6  ">
                  <label for="category_name">offer percentage</label>
                  {{form.sub_category_offer}}            
                </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}