{% extends "manager/managerbase.html" %}
{% block content %}
<div class="row" style="margin-left: 8%;">
    <a href="{{request.META.HTTP_REFERER |escape}}" class="btn btn-primary"><i class="bi bi-arrow-left-circle-fill"> go back</i></a>
  </div>
<div class="container" style=background-color:#F3F2EE;>
    <br>
    <div class="text-right">
        <a href="{% url 'add_brand_offer' %}" class="btn btn-info">Add New</a>
      </div>
    <div class="col-md-10">
        <h3> Brand offers</h3>
        <div class="row">
            <hr>
            {% for offer in offers %}
            <div class="col-md-4">
                <div class="well">
                    <h5><b>Brand Name :</b>{{offer.brand}}</h5> 
                    Offer:{{offer.brand_offer}}%
                    <br><br>
                    <a href="{% url 'remove_brand_offer' offer.id %}" class="btn btn-danger">Remove</a>
                    {% comment %} <a href="{% url 'edit_brand_offer' %}" class="btn btn-warning">Edit</a> {% endcomment %}
                </div>
             </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}