

<aside class="col-md-3 my-5 d-block d-md-none">
    <!--   SIDEBAR   -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <a class="list-group-item {% if '/manager_dashboard/' in request.path %}active{% endif %}" href="{% url 'manager_dashboard' %}"> Dashboard </a>
            <a class="list-group-item {% if '/user_management/' in request.path %}active{% endif %} " href="{% url 'user_management' %}"> User Management </a>
            <a class="list-group-item {% if '/product_management/' in request.path %}active{% endif %} card  mb-1 " href="{% url 'product_management' %}"> Product Management </a>
            <a class="list-group-item {% if '/category_management/' in request.path %}active{% endif %} card  mb-1 " href="{% url 'category_management' %}"> Category Management </a>
            <a class="list-group-item {% if '/sub_category_management/' in request.path %}active{% endif %} card  mb-1 " href="{% url 'sub_category_management' %}"> Subcategory Management</a>
            <a class="list-group-item {% if '/order_management/' in request.path %}active{% endif %} card  mb-1 " href="{% url 'order_management' %}"> Order Management </a>
            <a class="list-group-item {% if '/variation_management/' in request.path %}active{% endif %} card  mb-1 " href="{% url 'variation_management' %}"> Variation Management </a>
            {% comment %}<a class="list-group-item {% if '/admin_change_password/' in request.path %}active{% endif %} card  mb-1 " href="{% url 'admin_change_password' %}"> Change Password </a> 
             {% endcomment %}
             <a class="btn btn-warning btn-block" href="{% url 'signout' %}"> <i class="fa fa-power-off"></i> <span 
              class="text">Log out</span> </a>
        </ul>
        <br>
       
      </div>
    </div>
  </nav>

  <!--   SIDEBAR //END    -->
</aside>