

<aside class="col-md-3 my-5 d-block d-md-none">
    <!--   SIDEBAR   -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
          <br>
            <a  {% if '/manager_dashboard/' in request.path %}class="btn btn-main" {% else %}class="list-group-item"{% endif %} href="{% url 'manager_dashboard' %}"> Manager Dashboard </a>
            <a  {% if '/user_management/' in request.path %}class="btn btn-main" {% else %}class="list-group-item"{% endif %}  href="{% url 'user_management' %}"> User Management </a>
            <a  {% if '/product_management/' in request.path %}class="btn btn-main" {% else %}class="list-group-item"{% endif %}   href="{% url 'product_management' %}"> Product Management </a>
            <a  {% if '/category_management/' in request.path %}class="btn btn-main" {% else %}class="list-group-item"{% endif %}  href="{% url 'category_management' %}"> Category Management </a>
            <a  {% if '/sub_category_management/' in request.path %}class="btn btn-main" {% else %}class="list-group-item"{% endif %}   href="{% url 'sub_category_management' %}"> Subcategory Management</a>
            <a  {% if '/order_management/' in request.path %}class="btn btn-main" {% else %}class="list-group-item"{% endif %}  href="{% url 'order_management' %}"> Order Management </a>
            <a  {% if '/variation_management/' in request.path %}class="btn btn-main" {% else %}class="list-group-item" {% endif %} href="{% url 'variation_management' %}"> Variation Management </a>
            {% comment %}<a class="list-group-item {% if '/admin_change_password/' in request.path %}active{% endif %} card  mb-1 " href="{% url 'admin_change_password' %}"> Change Password </a> 
             {% endcomment %}
             
        </ul>
        <br>
       
      </div>
    </div>
  </nav>

  <!--   SIDEBAR //END    -->
</aside>