{% extends 'base.html' %}

{% load static%}

{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Checkout</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">Checkout</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container-fluid">
   
   <div class="col-md-10 col-md-offset-1">
   <div class="row">
      <div class="col-md-12">
         <div class="block billing-details">
      <div class="well" style="background: white">
            
            <form class="checkout-form" action="{% url 'place_order' %}" method="POST">
               {% csrf_token %}
            <h4 class="card-title my-4">Delivery Adress</h4>
               
               {% for adress in adress_list %} 
               

               {% if forloop.first %}
               <input type="radio" id="{{adress.id}}" name="order_adress" value="{{adress.id}}"  checked required>
               {% else %}
               <input type="radio" id="{{adress.id}}" name="order_adress" value="{{adress.id}}" required>
               {% endif %}
               <label for="{{adress.id}}"></label>
                     <div class="panel panel-default text-center   ">
                        <div class="panel-heading">
                           <a data-toggle="collapse" href="#c{{forloop.counter}}">Adress {{forloop.counter}}</a>
                        </div>
                        {% if forloop.first %}
                        <div id="c{{forloop.counter}}" class="panel-collapse collapse in">
                        {% else %}
                        <div id="c{{forloop.counter}}" class="panel-collapse collapse">
                        {% endif %}
                           <div class="panel-body">{{ adress.user}} <br>{{ adress.phone}} <br>
                              {{ adress.adress_line_1}} <br>
                              {{ adress.adress_line_2}} <br>
                              {{ adress.pin_code}} <br>
                              {{ adress.district}} <br> {{ adress.city}}<br>{{ adress.state}}
                           </div>
                       
                        </div>
                     </div>
                 
                  
                {% endfor %}  
                <a class="btn btn-primary" href="{% url 'add_adress' %}" >  add new address +</a> 
               </div> 
          
         </div>
      </div>
   </div>

      <div class="row">
      <div class="col-md-6">
         <div class="well">
            <h3 class="billing-heading mb-4">Cart Total</h3>
	          			<p class="d-flex">
		    						<span>Subtotal</span>
		    						<span>₹{{ total }}</span>
		    					</p>
                        {% if total < 2000 %}
		    					<p class="d-flex">
		    						<span>Delivery</span>
		    						<span>₹50 <sub>(delivery charges apply for purchase total less than ₹2000)</sub></span>
		    					</p>
                        {% else %}
                        <p class="d-flex">
                           <span>Delivery</span>
                           <span>₹0 </span>
                        </p>
                         {% endif %}
                         <!-- coupon -->
                         <div class="form-group">
                           <label> Have Coupon?</label>
                           <div class="input-group">
                              <input type="text" class="form-control">
                              <span class="input-group-append" size="1">
                                 <button class="btn btn-primary"> apply</button>
                              </span>
                           </div>
                         </div>
		    					<hr>
		    					<p class="d-flex total-price">
		    						<span>Total</span>
		    						<span>₹{{ final_total }}</span>
		    					</p>
         </div>

      </div>
      <div class="col-md-6">
         <div class="well">
         <div class="cart-detail bg-light p-3 p-md-4">
            <h3 class="billing-heading mb-4">Payment Method</h3>
                 <div class="form-group">
                    <div class="col-md-12">
                       <div class="radio">
                          <label><input type="radio" id="cash_on_delivery" name="payment_method" value="cash_on_delivery" required class="mr-2"> Cash On Delivery</label>
                       </div>
                    </div>
                 </div>
                 <div class="form-group">
                    <div class="col-md-12">
                       <div class="radio">
                          <label><input type="radio" id="razorpay" name="payment_method" value="razorpay"class="mr-2"> Razorpay</label>
                       </div>
                    </div>
                 </div>
                 <p><button type="submit" class="btn btn-main text-center">place order</button>
                 </form>
              </div>
            </div>
      </div>
  



   </div>
   </div>
</div>
</div>

{% endblock %}