{% extends 'base.html' %}

{% load static%}

{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Checkout</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">checkout</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="page-wrapper">
   <div class="checkout shopping">
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="block billing-details">
                  <h4 class="widget-title">Billing Details</h4>
                  <form class="checkout-form" action="{% url 'place_order' %}" method="POST">
                     {% csrf_token %}
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label for="">First Name</label>
                           <input type="text" class="form-control" id="full_name" placeholder="" name="first_name" required>
                        </div>
                        <div class="form-group">
                           <label for="">Last Name</label>
                           <input type="text" class="form-control" id="full_name" placeholder=""name="last_name" required>
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="">email</label>
                        <input type="email" class="form-control" id="email" placeholder=""name="email" required>
                     </div>

                     <div class="form-group">
                        <label for="">Address line 1</label>
                        <input type="text" class="form-control" id="user_address" placeholder="" name="adress_line_1" required>
                     </div>
                     <div class="form-group">
                        <label for="">Address line 2</label>
                        <input type="text" class="form-control" id="user_address" placeholder="" name="adress_line_2" >
                     </div>
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label for="">PINcode</label>
                           <input type="text" class="form-control" id="full_name" placeholder="" name="pin_code" required>
                        </div>
                        <div class="form-group">
                           <label for="">Phone Number</label>
                           <input type="text" class="form-control" id="full_name" placeholder="" name="phone" required>
                        </div>
                     </div>
                     <div class="checkout-country-code clearfix">
                        <div class="form-group">
                           <label for="">City</label>
                           <input type="text" class="form-control" id="user_address" placeholder="" name="city" required>
                        </div>
                        <div class="form-group">
                           <label for="">State</label>
                           <input type="text" class="form-control" id="user_address" placeholder="" name="state"  required>
                        </div>
                     </div>
                  
               </div>
               <div class="well">
              
                  <h4 class="card-title my-4">Select payment method:</h4>
                  <div class="col-6">
                     <input type="radio" id="cash_on_delivery" name="payment_method" value="cash_on_delivery" required>
                     <label for="cash_on_delivery">CASH ON DELIVERY</label>
                  </div>
                  <div class="col-6">
                    <input type="radio" id="razorpay" name="payment_method" value="razorpay">
                    <label for="razorpay">RAZORPAY</label>
                  </div>
                </div>

            </div>
            <div> <div> <div> <div>
            <div class="col-md-1">
               <div class="product-checkout-details">
                  <div class="block">
                     {% if not cart_items %}
                     <h2 class="text-center"> Your shopping cart is empty !!</h2> 
                     <div class="text-center"> 
                       <a href=" {% url 'home' %} " class="btn btn-main mt-20">Continue shopping</a>
                     </div>
           
                 {%else%}
                 <div class="row">
                   <div class="col-md-8 col-md-offset-2">
                     <div class="block">
                       <div class="product-list">
                           <table class="table">
                             <thead>
                               <tr>
                                 <th class=""> </th>
                                 <th class="">Item name</th>
                                 <th class="">Item count</th>
                                 <th class="">Item Price</th>
                               </tr>
                             </thead>
                             <tbody>
                               {% for cart_item in cart_items %}
                               <tr class="">
                                 <td class="">
                                   <div class="product-info">
                                     <img width="67" src="{{ cart_item.product.images.url }}" alt="" />                        
                                   </div>
                                 </td>
                                 <td>
                                     <a style="font-size: 10px" href="{{ cart_item.product.get_url }}"> {{ cart_item.product.product_name }}</a>
                                     <p style="font-size: 7px" class="text-muted small">
                                       {% if cart_item.variations.all %}
                                          {% for item in cart_item.variations.all %}
                                             Color: {{ item.color |capfirst }} 
                                          {% endfor %}
                                          <br>
                                          {% for item in cart_item.variations.all %}
                                             size: {{ item.size |capfirst }} 
                                          {% endfor %}
                                       {% endif %}
                                     </p>
                                 </td>
                                 <td class=""> {{ cart_item.quantity }}</td>

                                 <td class=""> ₹ {{ cart_item.sub_total }}</td>
                               </tr>
                               {% endfor %}
                             </tbody>
                           </table>
                           
                              <h5> Total: ₹ {{ total }}</h5> 
                         
                       </div>
                              {% comment %} <div class="">
                                 <h4 class="card-title my-4">Select Payment method:</h4>
                                 <div class="col-6"><input type="radio" id="cash_on_delivery" name="payment_method" value="cod">
                                    <label for = "cash_on_delivery"> Cash On Delivery</label>
                                 </div>
                                 <div class="col-6"><input type="radio" id="razorpay" name="payment_method" value="razorpay">
                                    <label for = "razorpay">RAZORPAY</label>
                                 </div>
                              </div> {% endcomment %}
                     </div> 
                     <button type="submit" class="btn btn-main text-center">place order</button>
                     </form>
                   </div>
                 </div>
                 {% endif %}
               </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

    <!-- 
    Essential Scripts
    =====================================-->
    
    <!-- Main jQuery -->
    <script src="plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Bootstrap Touchpin -->
    <script src="plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Instagram Feed Js -->
    <script src="plugins/instafeed/instafeed.min.js"></script>
    <!-- Video Lightbox Plugin -->
    <script src="plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <!-- Count Down Js -->
    <script src="plugins/syo-timer/build/jquery.syotimer.min.js"></script>

    <!-- slick Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/slick/slick-animation.min.js"></script>

    <!-- Google Mapl -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
    <script type="text/javascript" src="plugins/google-map/gmap.js"></script>

    <!-- Main Js File -->
    <script src="js/script.js"></script>
    


  </body>
  </html>

{% endblock %}