
{% extends 'base.html' %}

{% load static%}

{% block content %}
{% include 'includes/alerts.html' %}

<div class="hero-slider">
  <div class="slider-item th-fullpage hero-area" style="background-image: url(static/images/slider/slider-1.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Your ultimate <br> sportswear destination</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url(static/images/slider/slider-3.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-left">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
        
        </div>
      </div>
    </div>
  </div>
</div>
<!--product category-->
<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Product Category</h2>
				</div>
			</div>
				{% for category in links%}
				<div class="col-md-4">

					<div class="category-box">
						<a href="{{ category.get_ulr }} ">
							<img src="{{ category.cat_image.url }}" alt="" />
							<div class="content">
								<h3 >{{category.category_name }}</h3>
								
							</div>
						</a>	
					</div>
				</div>
				{% endfor %}
		

		</div>
	</div>
</section>

<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Deal of the day </h2>
			</div>
		</div>
		<div class="row">
			{% for product in products %}
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						{% comment %} <span class="bage">Sale</span> {% endcomment %}
						<a href="{{ product.get_url }}"> <img class="img-responsive" style="height:350px;" src="{{ product.images.url }} " alt="product-img" /> </a>
						<div class="preview-meta">
							<ul>
								<li>
			                        <a href="{% url 'add_wish' product.id %}" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="{{ product.get_url }}"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><a href="{{ product.get_url }}">  {{ product.brand }} {{ product.product_name }} </a></h4>
						<p class="price"> ₹ {{ product.price }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
				
		</div>
	</div>
</section>

<section class="section instagram-feed">
	<div class="container">
		<div class="row">
			<div class="title">
				<h2>View us on instagram</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="instagram-slider" id="instafeed" data-accessToken="IGQVJYeUk4YWNIY1h4OWZANeS1wRHZARdjJ5QmdueXN2RFR6NF9iYUtfcGp1NmpxZA3RTbnU1MXpDNVBHTzZAMOFlxcGlkVHBKdjhqSnUybERhNWdQSE5hVmtXT013MEhOQVJJRGJBRURn"></div>
			</div>
		</div>
	</div>
</section>


 

  {% endblock %}