{% extends 'base.html' %}

{% load static%}
{% block content %}


<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
                    {% if 'search' in request.path %}
                    <h1 class="page-name">Search Results</h1>
					{% else%}
                    <h1 class="page-name">{{Category.category_name }}</h1>
					<ol class="breadcrumb">
						<li><a href="{% url 'home' %}">Home</a></li>
						<li class="active">{{Category.category_name }}</li>
					</ol>
					{% endif %}
					
				</div>
			</div>
			
		</div>
	</div>
</section>



<section class="products section">
	<div class="container">
		<div class="row">
			{% if products %}
			<div class="col-md-12">
				<div class="form-inline text-right">
					<span class="mr-md-auto">sort by </span>
					<select class="mr-2 form-control">
						<option>Price</option>
						<option>Trending</option>
						<option>Most Popular</option>
						<option>Cheapest</option>
					</select>
					<br><br><br>
				</div>
			</div><!-- sect-heading -->
			<aside class="col-md-3">

				

				
				<div class="filter-group">
					<h3> shop by Category</h3>
					<div class="filter-content collapse show" id="collapse_2">
						<div class="panel-body">
							{% for sub in sub_categories %} 
							<ul>
								<li><a href="{{ sub.get_ulr1 }}"> {{ sub.subcat_name}} </a> </li>
							</ul>	
							{% endfor %}
						</div> <!-- card-body.// -->
					</div>
					<hr >
				</div> <!-- filter-group .// -->

				<div class="filter-group">
					<header class="panel-header">
					<a href="#1" data-toggle="collapse"><h4> shop by brands <i class="bi bi-caret-down"></i></h4> </a>
					<div class="filter-content" >
						<div class="panel-body">
							<div id="1" class="collapse">
						{% for prod in products %}
						  <label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light" > {{ prod.brand }} </span>
						  </label>
						{% endfor %}
					</div>
				</div><!-- card-body.// -->
					</div>
				</div> <!-- filter-group .// -->

				<div class="filter-group">
					<header class="panel-header">
					<a href="#2" data-toggle="collapse"><h4> filter by price <i class="bi bi-caret-down"></i></h4></a>
					<div class="filter-content">
						<div class="panel-body">
							<div id="2" class="collapse">
						  <label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light" > under ₹1500  </span>
						  </label><br>
						  <label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light" > ₹1500 - ₹3000 </span>
						  </label><br>
						  <label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light" > ₹3000 above </span>
						  </label>
						</div>
					</div><!-- card-body.// -->
					</div>
				</div> <!-- filter-group .// -->

				<div class="filter-group">
					<header class="panel-header">
						<a href="#3" data-toggle="collapse">
							<h4>Sizes  <i class="bi bi-caret-down"></i> </h4></a>
						</a>
					</header>
					<div class="filter-content">
						<div class="panel-body">
							<div id="3" class="collapse">
						  <label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light" > XS </span>
						  </label> <br>
			
						  <label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light"> SM </span>
						  </label><br>
			
						  <label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light"> LG </span>
						  </label><br>
			
						  <label class="checkbox-btn">
							<input type="checkbox">
							<span class="btn btn-light"> XXL </span>
						  </label>
						</div>
					</div><!-- card-body.// -->
					</div>
					<button class="btn btn-block btn-main">Apply</button>
				</div> <!-- filter-group .// -->
			</aside>
			<div class="col-md-9">
				<div class="row">
			{% for product in products %}
					
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<span class="bage">Sale</span>
                        <img class="img-responsive" style="height:270px;"src="{{ product.images.url }}" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
			                        <a href="{% url 'add_wish' product.id %}" ><i class="tf-ion-ios-heart"></i></a>
								</li>
								<li>
									<a href="{{ product.get_url }}"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
                      	</div>
					</div>
					<div class="product-content">
						<h4><span style="cursor:pointer; "><a class="l1" href="{{ product.get_url }}">{{ product.product_name }}</a></span></h4>
						<p class="price">₹ {{ product.price }}</p>
					</div>
				</div>
			</div>
			{% endfor %}
			{% else %}
		
		
					
				<h2>No results found</h2>

			
            {% endif %}
		</div>
	</div>
</section>


     <!-- paginator-->
	
	 <nav aria-label="Page navigation" class="text-center">
		{% if products.has_other_pages %}
		<ul class="pagination">
			{% if products.has_previous %}
			<li class="page-item "> <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a> </li>
			{% else %}
			<li class="page-item disabled"> <a class="page-link" href="#">Previous</a> </li>
			{% endif %}

			{% for i in products.paginator.page_range %}
				{% if products.number == i %}
					<li class="page-item active"> <a class="page-link" href="">{{i}}</a> </li>
				{% else %}
					<li class="page-item"> <a class="page-link" href="?page={{i}}">{{i}}</a></li>
				{% endif %}
			{% endfor %}

			{% if products.has_next %}
				<li class="page-item"> <a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
			{% else %}
				<li class="page-item disabled"> <a class="page-link" href="#">Next</a></li>
			{% endif %}
		</ul>
		{% endif %}
	</nav>

{% endblock %}